/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;  
    background: #EDF6E5;
    color: #5a6674;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
  }

  .cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 10px;
  }